@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --gray-bg: rgb(221, 221, 221);
  --green-font: rgb(0, 198, 178);
  --darkgreen-effect: rgb(35, 133, 122);
  --blackgreen-font: rgb(52, 69, 72);
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: rgba(242, 250, 255, 40%) !important;
}

.main-container {
  min-height: calc(100vh - 230px);
}

.login-title,
.register-title {
  font-size: 22px;
  color: var(--green-font);
}

.cursor {
  cursor: pointer;
}

.navbar {
  background: rgba(242, 250, 255, 40%) !important;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 40%);
}

.navbar-brand {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: var(--green-font) !important;
}

.nav-link {
  font-size: 17px !important;
  font-weight: 500 !important;
}

.nav-login,
.btn-login {
  border: 1px solid var(--green-font) !important;
  background: transparent !important;
  padding: 6px 20px !important;
  color: var(--green-font) !important;
  font-weight: 500 !important;
}

.page-header {
  color: var(--blackgreen-font);
  font-weight: 600;
}

.nav-signup {
  border: 1px solid var(--green-font) !important;
  background: var(--green-font) !important;
  padding: 6px 20px !important;
  color: #ffffff !important;
  font-weight: 500 !important;
}

.highlight-card {
    box-shadow: 0 0 18px rgba(0, 0, 0, 15%);
    border: none !important;
    text-align: justify;
}

.login-card,
.signup-card,
.course-card,
.view-course-card,
.user-profile-card,
.user-enrollments-card,
.addcourse-card,
.editcourse-card {
    box-shadow: 0 0 18px rgba(0, 0, 0, 15%);
    border: none !important;
}

.highlight-img {
  width: 275px !important;
}

.highlight-title {
  color: var(--green-font);
  font-weight: 600 !important;
  text-align: center;
}

.course-card,
.view-course-card {
  border-left: 3px solid rgba(35, 133, 122, 85%) !important;
}

.course-card-title {
  color: var(--darkgreen-effect);
  font-weight: 600 !important;
}

.course-card-price {
  font-weight: 500 !important;
}

.btn-primary {
  border: 1px solid var(--darkgreen-effect) !important;
  background: var(--darkgreen-effect) !important;
  padding: 6px 30px !important;
}

.user-profile-label {
  width: 75px;
}

.admin-enrollees-table-container {
  overflow: auto;
}

.user-enrollments-table,
.admin-course-table,
.admin-enrollees-table {
  border-collapse: collapse;
  box-shadow: 0 0 14px rgba(0, 0, 0, 15%);
  border-radius: 6px;
  overflow: hidden;
}

.user-enrollments-table thead tr,
.admin-course-table thead tr {
  background-color: rgba(0, 198, 178, 40%);
  color: var(--gen-white);
  letter-spacing: 1px;
  padding: 0px 0px !important;
}

.admin-enrollees-table-header {
  background-color: rgba(35, 133, 122, 60%);
  color: var(--gen-white);
  letter-spacing: 1px;
  padding: 0px 0px !important;
}

.admin-enrollees-course-row {
  background-color: rgba(35, 133, 122, 15%);
  letter-spacing: 1px;
  padding: 0px 0px !important;
}

.user-enrollments-table tbody tr,
.admin-course-table tbody tr {
  border-bottom: 1px solid var(--gray-bg);
}

.user-enrollments-table tbody tr:last-child,
.admin-course-table tbody tr:last-child {
    border-bottom: 2px solid rgba(0, 198, 178, 40%);
}

@media (max-width: 992px) {
  .hideOnSmall {
    display: none;
  }
}

.paul-footer {
  text-decoration: none !important;
  color: rgba(35, 133, 122, 60%);
  font-size: 18px;
  font-weight: 700;
}

.paul-footer:hover {
  color: rgb(0, 0, 0);
}